@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@300;400;700&display=swap');
@import "tailwindcss";

@config "../tailwind.config.js";

/* Custom fonts */

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-script;
    }
}